<!--
  ~ Copyright (c) 2022, VillageReach
  ~ Licensed under the Non-Profit Open Software License version 3.0.
  ~ SPDX-License-Identifier: NPOSL-3.0
  -->
<div class="AknSubsection">
    <header class="AknSubsection-title">
        <%- title %>
    </header>
</div>

<!-- Form to submit the data -->
<form id="fhir-mapping-form" method="POST" action="<%= submitUrl %>">
    <div class="AknFormContainer AknFormContainer--expanded">
        <div class="AknFieldContainer">
            <div class="AknFieldContainer-header">
                <label class="AknFieldContainer-label"><%- label %> </label>
            </div>
            <div class="AknFieldContainer-inputContainer">
                <select class="select2" title="<%- title %>" name="fhir_mapping" data-placeholder="<%- placeholder %>"
                    id="fhir_mapping">

                    <option value="" <% if (_.isEmpty(selected)) { %> selected<% } %>></option>
                    <% _.each(options, function (option) { %>
                    <option value="<%- option.value %>" <% if (option.value===selected) { %> selected<% } %>>
                        <%- option.label %>
                    </option>
                    <% }); %>
                </select>
            </div>

            <div class="coduble_concept_container">

                <div class="AknFilterChoice choicefilter ">
                    <div class="AknFilterChoice-header">
                                <div class="AknFilterChoice-title">Coduble Concept</div>
                                <div class="AknDropdown operator">
                                            <div class="AknActionButton AknActionButton--withoutBorder">
                                                        <span class="AknActionButton-highlight add-more-btn"> Add
                                    More</span>
                                                    </div>
                                           
                                        </div>
                            </div>
                </div>

                <!-- Repeatable Fields Start -->
                <div class="repeatable-field-container">
                    <% if (fields && fields.length > 0) { %>
                    <% _.each(fields, function(fieldSet, index) { %>
                        
                    <div class="dynamic-field-group" data-index="<%= index %>">
                        <div class="AknFieldContainer" data-code="system_url">
                            <div class="AknFieldContainer-header">
                                <label class="AknFieldContainer-label">System URL</label>
                            </div>
                            <div class="AknFieldContainer-inputContainer">
                                <input class="AknTextField" name="system_url[<%= index %>]"
                                    value="<%= fieldSet.system_url %>" />
                            </div>
                        </div>

                        <div class="AknFieldContainer" data-code="codable_code">
                            <div class="AknFieldContainer-header">
                                <label class="AknFieldContainer-label">Codable Code</label>
                            </div>
                            <div class="AknFieldContainer-inputContainer">
                                <input class="AknTextField" name="codable_code[<%= index %>]"
                                    value="<%= fieldSet.codable_code %>" />
                            </div>
                        </div>
                        <div class="AknButton AknButton--important remove-field-group-btn">Remove</div>
                    </div>
                    <% }); %>
                    <% } else { %>
                    <!-- Render a single empty field group when there are no existing fields -->
                    <div class="dynamic-field-group" data-index="0">
                        <div class="AknFieldContainer" data-code="system_url">
                            <div class="AknFieldContainer-header">
                                <label class="AknFieldContainer-label">System URL </label>
                            </div>
                            <div class="AknFieldContainer-inputContainer">
                                <input class="AknTextField" name="system_url[0]" value="" />
                            </div>
                            
                        </div>

                        <div class="AknFieldContainer" data-code="codable_code">
                            <div class="AknFieldContainer-header">
                                <label class="AknFieldContainer-label">Codable Code</label>
                            </div>
                            <div class="AknFieldContainer-inputContainer">
                                <input class="AknTextField" name="codable_code[0]" value="" />
                            </div>
                        </div>
                        <div class="AknButton AknButton--important remove-field-group-btn">Remove</div>
                    </div>
                    <% } %>
                </div>
            </div>


        </div>
        <!-- Repeatable Fields End -->
    </div>

    </div>

    <!-- Submit button -->
    <button type="submit" class="AknButton AknButton--action">Update Mapping</button>
    </div>
</form>